.container.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100vh;
}

.container.home svg {
  max-width: 124px;
  width: 100%;
  height: auto;
}

.container.home button {
  border-radius: 8px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 17px;
  width: 100%;
  margin-bottom: 8px;
  background-color: var(--active);
  border: 2px solid var(--active);
}

.container.home button.signup a {
  color: var(--background);
  font-size: 18px;
  font-family: 'EuclidSquare-Medium';
}

.container.home button.login {
  background-color: transparent;
}
.container.home button.login a {
  color: var(--active);
  font-size: 18px;
  font-family: 'EuclidSquare-Medium';
}

.home h1 {
  color: var(--active);
  font-size: 45px;
  letter-spacing: 0;
  padding: 20px 0 5px;
}

.home p {
  padding: 10px 20px 0;
  font-size: 15px;
  color: var(--textLight);
  font-family: 'EuclidSquare-light';
  line-height: 24px;
}

.home p a {
  color: var(--textLight);
}
