/* ----- Movie item ----- */

.item-movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 14px 17px 10px;
}

.item-movie .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-movie .info {
  padding-right: 10px;
}

.item-movie .stars {
  margin-right: 16px;
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.item-movie a {
  text-decoration: none;
}

.item-movie h2 {
  color: var(--textWhite);
  font-size: 18px;
  /* padding-bottom: 3px; */
  line-height: 22px;
}

.item-movie p {
  color: var(--textWhite);
  font-size: 13px;
}

/* ----- Film ----- */

.hero {
  display: flex;
  width: 100%;
  background-color: var(--background);
  height: 117px;
  align-items: center;
  justify-content: space-between;
}

.hero .info {
  padding-left: 15px;
}

.container.film .headline {
  padding-left: 15px;
}

.hero .info h2 {
  color: var(--textWhite);
  font-family: 'EuclidSquare-Medium';
  font-size: 24px;
  padding-bottom: 14px;
}

.container.film {
  padding: 35px 0 0;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
}

.film .content {
  padding: 25px 20px 0;
}

.film .content p {
  font-family: 'EuclidSquare-Light';
  font-size: 15px;
  padding-bottom: 10px;
}

.film .content p span {
  display: block;
  font-size: 14px;
  font-family: 'EuclidSquare-SemiBold';
  color: var(--background);
  line-height: 20px;
}

.cover {
  padding-right: 15px;
}

.cover img {
  border-radius: 4px;
}


/* ----- Form ----- */

.label-input {
  margin-bottom: 0.5em;
}

.form label,
.form input {
  display: block;
}

.form label {
  font-family: 'EuclidSquare-SemiBold';
  font-size: 14px;
  padding-bottom: 5px;
}

.newfilm .label-input {
  margin-bottom: 1em;
}

.newfilm input,
.newfilm textarea {
  border: none;
  border-bottom: 1.5px solid var(--background);
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 15px);
  font-size: 13px;
  color: var (--textColor);
  font-family: 'EuclidSquare-Light';
}

.newfilm textarea {
  min-height: 80px;
  margin-bottom: 0;
}

.newfilm input:focus,
.newfilm textarea:focus {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.editfilm input,
.editfilm textarea {
  border: none;
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 15px);
  font-size: 13px;
  color: var (--textColor);
  font-family: 'EuclidSquare-Light';
  background-color: #f5f5f5;
  border-radius: 5px;
}

.editfilm textarea {
  min-height: 80px;
  margin-bottom: 0;
}

.editfilm .label-input {
  margin-top: 0;
  margin-bottom: 15px;
}