.navbar-bg {
  background-color: var(--background);
  width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 0px;
}

.navbar {
  max-width: 375px;
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  margin: 0 auto;
}

.navbar a {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'EuclidSquare-Medium';
  font-size: 13px;
  text-decoration: none;
}

.navbar a span {
  font-family: 'EuclidSquare-Medium';
  font-size: 13px;
  padding-top: 8px;
}