.search {
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}

.search input {
  background-color: var(--backgroundLight);
  background-image: url('/src/assets/search.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  border: none;
  padding: 15px 0 15px 45px;
  width: calc(100% - 45px);
  border-radius: 8px;
  font-size: 15px;
  color: var(--textDark);
  font-family: 'EuclidSquare-Light';
  opacity: 1;
}
