:root {
  --background: #370906;
  --active: #fed800;
  /*  --inactive: #d7cecd; */
  --inactive: #fff;
  --opacity: 0.8; /* //TODO */
  --error: red; /* //TODO What color to use? */
  --textColor: #333333;
  --textWhite: #fff;
}

/* ----- Tipography ----- */

@font-face {
  font-family: 'EuclidSquare-Light';
  src: url('../public/fonts/euclidSquareLight.otf') format('opentype'),
    url('../public/fonts/euclidSquareLight.eot') format('eot'),
    url('../public/fonts/euclidSquareLight.woff') format('woff'),
    url('../public/fonts/euclidSquareLight.ttf') format('truetype'),
    url('../public/fonts/euclidSquareLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare-SemiBold';
  src: url('../public/fonts/euclidSquareSemiBold.otf') format('opentype'),
    url('../public/fonts/euclidSquareSemiBold.eot') format('eot'),
    url('../public/fonts/euclidSquareSemiBold.woff') format('woff'),
    url('../public/fonts/euclidSquareSemiBold.ttf') format('truetype'),
    url('../public/fonts/euclidSquareSemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare-Bold';
  src: url('../public/fonts/euclidSquareBold.otf') format('opentype'),
    url('../public/fonts/euclidSquareBold.eot') format('eot'),
    url('../public/fonts/euclidSquareBold.woff') format('woff'),
    url('../public/fonts/euclidSquareBold.ttf') format('truetype'),
    url('../public/fonts/euclidSquareBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ----- General styles ----- */

body {
  /* //TODO */
  font-family: 'EuclidSquare-Light';
  font-size: 16px;
  color: var(--textColor);
}

.container {
  padding: 35px 15px 0;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-family: 'EuclidSquare-Bold';
  font-size: 25px;
  color: var(--background);
  padding-left: 20px;
}

h2 {
  font-family: 'EuclidSquare-SemiBold';
}

p {
  font-size: 16px;
  line-height: 22px;
  color: var(--textColor);
}

p a {
  font-family: 'EuclidSquare-SemiBold';
  color: var(--textColor);
}

button {
  background-color: aqua; /* //TODO replace by variant */
}

.back {
  /* //TODO */
  position: absolute;
  left: 0;
}

/* ----- Home ----- */

.container.home {
  text-align: center;
}
.home h1 {
  color: var(--active);
  font-size: 45px;
  letter-spacing: 0;
}

.home p {
  color: var(--textWhite);
}

/* ----- Other styles ----- */

.active {
  color: var(--active);
}

.inactive {
  color: var(--inactive);
  opacity: var(--opacity);
}

.headline {
  /* //TODO */
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}

.loading {
  background-color: var(--background);
}

.info-message {
  color: green; /* //TODO replace by variant */
}

.error-message {
  color: var(--error);
}

.label-input {
  margin-bottom: 0.5em;
}

.form label,
.form input {
  display: block;
}

.form label {
  font-family: 'EuclidSquare-SemiBold';
  font-size: 14px;
  padding-bottom: 5px;
}

/* .watchlist-icon {
  background-color: darkslateblue;
} */

/* ----- New style ----- */ /* //TODO organize by page name with comments */

.item-movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 14px 17px 10px;
}

.item-movie .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-movie .info {
  padding-right: 10px;
}

.item-movie .stars {
  margin-right: 16px;
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.item-movie a {
  text-decoration: none;
}

.item-movie h2 {
  color: var(--textWhite);
  font-size: 18px;
  /* padding-bottom: 3px; */
  line-height: 22px;
}

.item-movie p {
  color: var(--textWhite);
  font-size: 13px;
}

/* ----- Film ----- */

.cab {
  display: flex;
  width: 100%;
  background-color: var(--background);
  height: 117px;
  align-items: center;
  justify-content: space-between;
}

.cab .info {
  padding-left: 15px;
}

.container.film .headline {
  padding-left: 15px;
}

.cab .info h2 {
  color: var(--textWhite);
  font-family: 'EuclidSquare-SemiBold';
  font-size: 24px;
  padding-bottom: 14px;
}

.container.film {
  padding: 35px 0 0;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
}

.film .content {
  padding: 25px 20px 0;
}

.film .content p {
  font-family: 'EuclidSquare-Light';
  font-size: 15px;
  padding-bottom: 10px;
}

.film .content p span {
  display: block;
  font-size: 14px;
  font-family: 'EuclidSquare-SemiBold';
  color: var(--background);
  line-height: 20px;
}

.cover {
  padding-right: 15px;
}

.cover img {
  border-radius: 4px;
}

button {
  margin-top: 1em;
  border: none;
  border-radius: 8px;
  background-color: var(--background);
  padding: 10px 25px;
}

button a {
  color: #fed800;
  font-size: 14px;
  font-family: 'EuclidSquare-Light';
  text-decoration: none;
}

.newfilm .label-input {
  margin-bottom: 1em;
}

.newfilm input {
  border: none;
  border-bottom: 1.5px solid var(--background);
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 15px);
  font-size: 13px;
  color: var (--textColor);
  font-family: 'EuclidSquare-Light';
}

.newfilm input:focus {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.editfilm input {
  border: none;
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 15px);
  font-size: 13px;
  color: var (--textColor);
  font-family: 'EuclidSquare-Light';
  background-color: #f5f5f5;
  border-radius: 5px;
}

.editfilm .label-input {
  margin-top: 0;
  margin-bottom: 15px;
}

/* .background-home {
  background-color: #fed800;
} */
