:root {
  --background: #370906;
  --backgroundLight: #eee;
  --active: #fed800;
  --textDark: #333333;
  --textLight: #fff;
  --opacity: 0.8;
  --success: #0f8000;
  --error: #fc2831;
}

/* ----- Tipography ----- */

@font-face {
  font-family: 'EuclidSquare-Light';
  src: url('../public/fonts/euclidSquareLight.otf') format('opentype'),
    url('../public/fonts/euclidSquareLight.eot') format('eot'),
    url('../public/fonts/euclidSquareLight.woff') format('woff'),
    url('../public/fonts/euclidSquareLight.ttf') format('truetype'),
    url('../public/fonts/euclidSquareLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare-Regular';
  src: url('../public/fonts/EuclidSquareRegular.otf') format('opentype'),
    url('../public/fonts/EuclidSquareRegular.eot') format('eot'),
    url('../public/fonts/EuclidSquareRegular.woff') format('woff'),
    url('../public/fonts/EuclidSquareRegular.ttf') format('truetype'),
    url('../public/fonts/EuclidSquareRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare-Medium';
  src: url('../public/fonts/EuclidSquareMedium.otf') format('opentype'),
    url('../public/fonts/EuclidSquareMedium.eot') format('eot'),
    url('../public/fonts/EuclidSquareMedium.woff') format('woff'),
    url('../public/fonts/EuclidSquareMedium.ttf') format('truetype'),
    url('../public/fonts/EuclidSquareMedium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare-SemiBold';
  src: url('../public/fonts/euclidSquareSemiBold.otf') format('opentype'),
    url('../public/fonts/euclidSquareSemiBold.eot') format('eot'),
    url('../public/fonts/euclidSquareSemiBold.woff') format('woff'),
    url('../public/fonts/euclidSquareSemiBold.ttf') format('truetype'),
    url('../public/fonts/euclidSquareSemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidSquare-Bold';
  src: url('../public/fonts/euclidSquareBold.otf') format('opentype'),
    url('../public/fonts/euclidSquareBold.eot') format('eot'),
    url('../public/fonts/euclidSquareBold.woff') format('woff'),
    url('../public/fonts/euclidSquareBold.ttf') format('truetype'),
    url('../public/fonts/euclidSquareBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ----- General styles ----- */

body {
  font-family: 'EuclidSquare-Light';
  font-size: 16px;
  color: var(--textDark);
}

.container {
  padding: 35px 15px 115px;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-family: 'EuclidSquare-Bold';
  font-size: 25px;
  color: var(--background);
  padding-left: 20px;
}

h2 {
  font-family: 'EuclidSquare-Medium';
}

p {
  font-size: 16px;
  line-height: 22px;
  color: var(--textDark);
}

p a {
  color: var(--textDark);
}

.back {
  position: absolute;
  left: 0;
}

.active {
  color: var(--active);
}

.inactive {
  color: var(--textLight);
  opacity: var(--opacity);
}

.headline {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}

.box-message {
  background-color: var(--backgroundLight);
  width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 88px;
  padding: 10px 20px;
}

.info-message {
  color: var(--success);
  font-size: 15px;
  font-family: 'EuclidSquare-Medium';
}

.error-message {
  color: var(--error);
  font-size: 15px;
  font-family: 'EuclidSquare-Medium';
}
